@font-face {
  font-family: "TTTtangsbudaejjigaeB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: TTTtangsbudaejjigaeB;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 15px;
  margin-bottom: 40px;
}

/* 화면 전체 중앙 정렬 */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

/* ABOUT ME 컨테이너 정렬 */
.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 이미지 스타일 */
.profile {
  width: 150px; /* 원하는 크기로 조정 */
  height: auto;
  border-radius: 10px;
  margin-right: 20px;
}

/* 텍스트 정렬 */
.aboutme {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: Pretendard-Regular;
}

/* ABOUT ME 제목 중앙 정렬 */
h3,
hr {
  text-align: center;
}

/* 반응형 디자인: 화면이 작으면 세로 정렬 */
@media (max-width: 600px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .profile {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

p {
  margin: 1px;
}

.icon {
  width: 50px;
}

img {
  width: 300px;
}

.aboutme-li {
  text-align: left;
}
