@font-face {
  font-family: "TTTtangsbudaejjigaeB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  margin-left: 20px;
}

h2 {
  font-family: "TTTtangsbudaejjigaeB";
  text-decoration: underline;
  text-underline-offset: 15px;
}

.contents1 {
  background: whitesmoke;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  font-size: 20px;
  margin-top: 30px;
  font-family: "Pretendard-Regular";
  margin-left: 5px;
}

h3 {
  font-family: "Pretendard-Regular";
  font-size: 25px;
}

.contents2 {
  background: whitesmoke;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  font-size: 20px;
  margin-top: 20px;
  font-family: "Pretendard-Regular";
  margin-left: 5px;
}

.highlight {
  color: #0984e3;
  font-weight: bold;
}

.img1 {
  width: 90px;
}

.img2 {
  width: 120px;
}

.skills {
  margin-bottom: 5px;
}

p {
  margin: 3px;
}

.contents2 ul {
  margin-top: 3px;
}

button {
  font-family: "Pretendard-Regular";
  border-radius: 5px;
  width: 80px;
  height: 30px;
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: bolder;
}

button:hover {
  cursor: pointer; /* 마우스 오버 시 손 모양 커서로 변경 */
  color: #80e12a;
}

.contents3 {
  background: whitesmoke;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  font-size: 20px;
  margin-top: 10px;
  font-family: "Pretendard-Regular";
  margin-left: 5px;
}
